# Composer / PHP dependencies
**/vendor/
**/.well-known/
**/cgi-bin

# Environment / config files anywhere
**/.env
**/config.php
**/.htaccess
**/*.local.php
 

# Logs
**/*.log
logs/


# IDE / editor files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db
Desktop.ini

# Backup / temp files
*.bak
*.swp
*.tmp
*~
